
nav.navbar {
    z-index: 1;
}

.position-absolute-left {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 15px;
}

.tags .select2-container .select2-search--inline .select2-search__field {
    padding-left: 65px;
}

.tags .select2-container .select2-selection__choice:nth-child(2) {
    margin-left: 65px;
}

.position-absolute-left .btn.toggle-off {
    padding-right: 0;
    padding-left: 0;
}




.dataTables_processing{
    background: transparent !important;
}
.gradient-bg{
    background: linear-gradient(to right, #3B80D5, #6AB5DA);
}
.search-wrapper{
    border-radius: 20px;
    background-color: rgba(255,255,255,.5);
    padding: 0 2em 0 1em;
    margin-right: 0;
    color: #ffffff;
}
input.search-input{
    background: transparent;
    border: none;
    color: white;
    line-height: 2em;
    box-shadow: none;
    border-radius: 4px;
}
input.search-input:focus{
    outline: none;
}
input.search-input::placeholder{
    color: #ffffff;
    letter-spacing: 3px;
    margin: 0 0 0 1em;

}



/*Sidear vertical navigation*/
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 12%;
    background-color: #414956;
    /*z-index: -1;*/
    color: #fff;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    display: inline-block;
}

.sidebar ul a {
    border-bottom: solid 1px #3b424d;
}

.sidebar a.active {
    background-color: #3b424d;
}

.sidebar-menu {
    margin-top: 70px;
}

.sidebar-menu ul {
    list-style: none;
    font-size: 13px;
}

.sidebar-menu h2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
}